Repository gravitee-io/gravitee-docs, pull requests merged in 2023-01, with the labels that each got.

#935 Initial event-native documentation
  _data/sidebars/apim_3_x_sidebar.yml
  images/apim/3.x/event-native/event-native-api-management-condition-evaluation-1.png
  images/apim/3.x/event-native/event-native-api-management-condition-evaluation-2.png
  images/apim/3.x/event-native/event-native-api-management-condition-evaluation-3.png
  images/apim/3.x/event-native/event-native-api-management-cors.png
  images/apim/3.x/event-native/event-native-api-management-data-ingestion.png
  images/apim/3.x/event-native/event-native-api-management-execution-scopes-1.png
  images/apim/3.x/event-native/event-native-api-management-execution-scopes-2.png
  images/apim/3.x/event-native/event-native-api-management-flow-condition-1.png
  images/apim/3.x/event-native/event-native-api-management-flow-condition-2.png
  images/apim/3.x/event-native/event-native-api-management-flow-interruption-1.png
  images/apim/3.x/event-native/event-native-api-management-flow-interruption-2.png
  images/apim/3.x/event-native/event-native-api-management-gateway.png
  images/apim/3.x/event-native/event-native-api-management-logging-1.png
  images/apim/3.x/event-native/event-native-api-management-logging-2.png
  images/apim/3.x/event-native/event-native-api-management-timeout.png
  images/apim/3.x/event-native/event-native-api-management-use-case-event-consumption-streaming.png
  images/apim/3.x/event-native/event-native-api-management-use-case-event-consumption-webhook.png
  images/apim/3.x/event-native/event-native-api-management-use-case-http-post.png
  index.adoc
  pages/apim/3.x/v4-beta/v4-beta-event-native-apim-example-use-cases.adoc
  pages/apim/3.x/v4-beta/v4-beta-event-native-apim-introduction.adoc
  pages/apim/3.x/v4-beta/v4-beta-event-native-apim-user-guide.adoc
  pages/apim/3.x/v4-beta/v4-beta-new-policy-execution-engine-evolution.adoc
  pages/apim/3.x/v4-beta/v4-beta-new-policy-execution-engine-introduction.adoc
Labels: status: in review, project: APIM, status: tw review

#968 fix(ae): ssl configuration on AE connector
  pages/ae/am/am-installation.adoc
  pages/ae/apim/apim-installation.adoc
Labels: project: AE

#911 docs(apim): add gko monitoring section
  _data/sidebars/apim_3_x_sidebar.yml
  pages/apim/3.x/kubernetes/apim-kubernetes-operator-monitoring.adoc
Labels: status: in progress, project: APIM
